/.vs/CoucouHeroku/DesignTimeBuild/.dtbcache.v2
/.vs/CoucouHeroku/config/applicationhost.config
/.vs/CoucouHeroku/v17/.futdcache.v1
/.vs/CoucouHeroku/v17/.suo
/.vs/ProjectEvaluation/coucouheroku.metadata.v2
/.vs/ProjectEvaluation/coucouheroku.projects.v2
/CoucouHeroku/bin/Debug/net6.0/appsettings.Development.json
/CoucouHeroku/bin/Debug/net6.0/appsettings.json
/CoucouHeroku/bin/Debug/net6.0/CoucouHeroku.deps.json
/CoucouHeroku/bin/Debug/net6.0/CoucouHeroku.dll
/CoucouHeroku/bin/Debug/net6.0/CoucouHeroku.exe
/CoucouHeroku/bin/Debug/net6.0/CoucouHeroku.pdb
/CoucouHeroku/bin/Debug/net6.0/CoucouHeroku.runtimeconfig.json
/CoucouHeroku/bin/Debug/net6.0/CoucouHeroku.staticwebassets.runtime.json
/CoucouHeroku/obj/CoucouHeroku.csproj.nuget.dgspec.json
/CoucouHeroku/obj/CoucouHeroku.csproj.nuget.g.props
/CoucouHeroku/obj/CoucouHeroku.csproj.nuget.g.targets
/CoucouHeroku/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/CoucouHeroku/obj/Debug/net6.0/_IsIncrementalBuild
/CoucouHeroku/obj/Debug/net6.0/apphost.exe
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.AssemblyInfo.cs
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.AssemblyInfoInputs.cache
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.assets.cache
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.csproj.AssemblyReference.cache
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.csproj.BuildWithSkipAnalyzers
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.csproj.CoreCompileInputs.cache
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.csproj.FileListAbsolute.txt
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.dll
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.GeneratedMSBuildEditorConfig.editorconfig
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.genruntimeconfig.cache
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.GlobalUsings.g.cs
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.MvcApplicationPartsAssemblyInfo.cache
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.pdb
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.RazorAssemblyInfo.cache
/CoucouHeroku/obj/Debug/net6.0/CoucouHeroku.RazorAssemblyInfo.cs
/CoucouHeroku/obj/Debug/net6.0/project.razor.vs.json
/CoucouHeroku/obj/Debug/net6.0/ref/CoucouHeroku.dll
/CoucouHeroku/obj/Debug/net6.0/refint/CoucouHeroku.dll
/CoucouHeroku/obj/Debug/net6.0/scopedcss/bundle/CoucouHeroku.styles.css
/CoucouHeroku/obj/Debug/net6.0/scopedcss/projectbundle/CoucouHeroku.bundle.scp.css
/CoucouHeroku/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/CoucouHeroku/obj/Debug/net6.0/staticwebassets.build.json
/CoucouHeroku/obj/Debug/net6.0/staticwebassets.development.json
/CoucouHeroku/obj/project.assets.json
/CoucouHeroku/obj/project.nuget.cache
/CoucouHeroku/obj/staticwebassets.pack.sentinel
